@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&family=Poppins:ital,wght@1,100&family=Roboto+Mono:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'M PLUS 1p', sans-serif;
}

.sidebar {
  position: fixed;
  left: -250px;
  background: #90908f;
  width: 250px;
  height: 100%;
  transition: all .5s;
}

.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #353534;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  color: rgb(252, 252, 252);
  font-size: 20px;
  padding-left: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #000;
  transition:all .5s;
}

ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 16px;
}

/* toggle */

#check {
  display: none;
}

label #buttom,
label #cancel {
  position: absolute;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 3px;
  cursor: pointer;
}

label #buttom {
  left: 40px;
  top: 25px;
  font-size: 25px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel {
  z-index: 10;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  opacity: 0;
  transition: all .5s;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #buttom {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  opacity: 1;
  left: 195px;
}

.bg {
  height: 100vh;
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

#check:checked ~ .bg {
  margin-left: 250px;
}